<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../../assets/images/home-loan.svg" height="75" alt="KC House">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/" class="nav-item nav-link">Home</a>
                <a routerLink="/predict" class="nav-item nav-link">Predict</a>
                <a href="#" class="nav-item nav-link">Contact</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link"><img src="../../assets/images/logo-facebook-svgrepo-com.svg" height="30" alt=""></a>
                <a href="#" class="nav-item nav-link"><img src="../../assets/images/github.svg" height="30" alt=""></a>
            </div>
        </div>
    </div>
    
</nav>

